.hero{
    padding-top: 66.67px;
    padding-bottom: 83px;

    .hero-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;




        .hero-left{
            h1{
                max-width: 652px;
                font-size: 66.67px;
                line-height: 83.33px;
                color: black;
                font-weight: 700;

            }

            p{
                font-weight: 400;
                font-size: 17.78px;
                line-height: 30px;
                max-width: 704px;
                margin-top: 17px;

            }

            form{
                margin-top: 33px;
                input[type="email"]{
                    width: 100%;
                    max-width: 376px;
                    background: #F5F5F5;
                    border-radius:83.33px;
                    padding: 15px;
                    border: none;
                    outline: none;
                }

                input[type="submit"]{
                    padding: 15px 30px;
                    border: none;
                    outline: none;
                    background: #655CFE;
                    color: #fff;
                    border-radius: 83px;
                    margin-left:10px;
                    cursor: pointer;

                }

            }//Hero Form End

            .hero-employee{
                margin-top: 40px;
                display: flex;
                justify-content: start;
                align-items: center;


                .images{
                    z-index: 1;

                    img{
                        margin-left: -30px;
                    }
                    img:first-child{
                        margin-left: 0px;
                    }
                }

                .total{
                    cursor: pointer;
                    p{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 30px;
                        margin-top: 0px;
                        height: 43px;
                        width: 43px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #7BDFF2;
                        border-radius: 50px;
                        margin-left: -8px;
                        z-index: -1;
                        position: relative;
                        cursor: pointer;
                    }
                    p::before{
                        content: "+";
                        position: absolute;
                        left: 4px;
   


                    }
                }//Total End

                .emplyee-numer{
                    p{
                        margin-top: 0px;
                        font-size: 11.67px;
                        line-height: 15px;
                        color: #000;
                        margin-left: 12px;
                        font-weight: 400;
                        position: relative;
                    }

                    p::before{
                        content: "+";
                        position: absolute;
                        left: -8px;
                    }
                }

            }


            
        }//Hero Left End

        .hero-right{
            display: flex;
            justify-content: right;
            align-items: center;

            .hero-img{

                img{
                    display: inline-block;
                }

               .img-flex{
                    display: flex;
                    align-items: end;
                    justify-content: right;
                    .reward-img{
                        width: 100%;
                        display: inline-block;
                        max-width: 139px;
                    }
                    .reduction-img{
                        width: 100%;
                        display: inline-block;
                        max-width: 339px;
        
                    }
                
                }

                .revenue-img{
                    display: flex;
                    justify-content: center;
                   


                    img{
                        margin-top: 16px;
                        width: 100%;
                        display: inline-block;
                        max-width: 250px;
                        margin-left: -100px;
                    }
                }

               
            }

        }//Hero Right End


    }//Hero Content End
}