.footer-section{
    background: #01112D;
    height: min-content;


    .footer-content{
        width: 100%;

        .footer-top{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            background: #FF83D5;
            color: #fff;
            border-radius: 25px;
            padding: 85px 50px;
            transform: translateY(-50%);

            .footer-top-left{
                // display: flex;
                // width: 100%;
                // max-width: 628px;

                h2{
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 71.67px;
                    width: 100%;
                    max-width: 628px;
                }
            }

            .footer-top-right{
                width: 100%;
                max-width: 467px;

                p{
                    font-size: 18.33px;
                    line-height: 30px;
                }

                form{
                    margin-top: 20px;

                    input[type="email"]{
                        width: 100%;
                        max-width: 290px;
                        background: #F5F5F5;
                        border-radius:83.33px;
                        padding: 15px;
                        border: none;
                        outline: none;
                    }
    
                    input[type="submit"]{
                        padding: 15px 30px;
                        border: none;
                        outline: none;
                        background: #000000;
                        color: #fff;
                        border-radius: 83px;
                        margin-left:10px;
                        cursor: pointer;
    
                    }
    
                }
            }


        }//Footer top end

        .main-footer{
            background: #01112D;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid #fff;
            padding-bottom: 50px;

            h3{
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                color: #fff;
            }
            .footer-menu{
                display: flex;
                flex-wrap: wrap;
                row-gap: 50px;
                justify-content: space-between;
                column-gap: 160px;

                ul{
                    list-style: none;
                    margin-top: 20px;

                    li{

                        a{
                            text-decoration: none;
                            color: #fff;
                            margin-top: 20px;
                            padding: 5px 0px;
                            display: inline-block;
                            size: 15px;
                            font-weight: 310;
                        }

                    }


                }


               
            }


        }//Main Footer End

        .footer-bottom{
            display: flex;
            column-gap: 162px;
            flex-wrap: wrap;
            row-gap: 20px;

            padding: 38px 0px;
            p{
                color: white;
            }

            ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li {
                    padding: 0px 7px;
                    border-right: 1px solid #fff;
                    display: inline-block;

                    
                    a{
                        text-decoration: none;
                        color: white;

                    }

                }
                li:last-child{
                    border-right: none;
                }
                
                
               
            }

        }



       

    }//Footer Content
}