.client-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F2F4F5;

    .client-content{
        


        .client-text{
            text-align: center;

        }

        .client-logo{
            margin-top: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 60px;
            flex-wrap: wrap;
            

        }//Client Logo End


        animation-timeline: view( 80% 0%);
            position: relative;
            animation-name: BottomToTop;
            animation-fill-mode: both;
            transform-origin: bottom;
            animation-duration: 1ms; /* Firefox requires this to apply the animation */
            animation-timing-function: linear;

    }//Client Content End
}